<%- include('include/header') %>

<form action="/q" method="post" class="search-form" id="searchForm">

<div class="input-group mb-3">
  <input type="text" class="form-control" name="searchInput" placeholder="Search">
  <div class="input-group-append"><button type="submit" class="btn btn-primary">Search</button></div>
</div>
</form>
</div>
 

<div class="card mt-5 p-4"> 
  <h1><%= title %></h1>
  <hr>
    <% posts.forEach(element => { %>
      <div class="d-flex flex-column p-3">
        <div class="mb-1 p-1">
      
      <h2><%= element.title %></h2>
      <p><%= element.body %></p>
      <% if(loggedIn) { %>
        <div class="mb-1 ">
        <a href="/blog/<%= element._id %>">Edit</a>
        <a href="/blog/delete/<%= element._id %>" class="red" onclick="return confirm('Are You Sure')">Delete</a>
        </div>
      <% } %>
    </div>
    </div>
    <% }); %>

    
 <%- include('include/footer') %>
   